<!DOCTYPE html>
<html>
<head>
  <title>Reactjs</title>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
</head>
<body>
  <%= yield %>
</body>
</html>
